@charset "UTF-8";

// 顏色
// ==========================================
$color_1:                #262626;
$color_2:                #26C6D0;
$color_3:                #EE6C8A;
$color_4:                #585880;

$color_gray_1:           #F6F5F8;
$color_gray_2:           #ececec;
$color_gray_3:           #e0e0e0;
$color_gray_4:           #cac6ca;
$color_gray_5:           #898989;



$base_bg:                #F2F2F2;
$base_font_color:        $color_1;

$color_link:             $color_3;
$color_link_hover:       $color_4;

$color_btn:              $color_2;