@use '../defaults' as def;

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@mixin fadeOutUp(
  $count: def.$animate_count,
  $duration: def.$animate_duration,
  $delay: def.$animate_delay,
  $function: def.$animate_function,
  $fill: def.$animate_fill,
  $visibility: def.$animate_visibility
) {
  @include def.baseAnimation(
    fadeOutUp,
    $count,
    $duration,
    $delay,
    $function,
    $fill,
    $visibility
  );
}
