@use "reset";
@use 'config' as *;
@use 'mixin' as mixin;

.site {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &__header {
        position: relative;
        width: 100vw;
        height: calc(100vh + 3rem);
        margin-bottom: 8.5rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $color_1;
        overflow: hidden;
        border-radius: 0 0 3rem 3rem;

        // @include mixin.respond(portrait) {
        //     height: 100vw;
        // }

        &_main {
            z-index: 2;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 2rem;
            width: 100%;
            max-width: $default_width;
            margin: 0 auto;
            transition: all 0.3s ease-in-out;
        }

        h2 {
            z-index: 3;
            position: absolute;
            top: 50%;
            left: calc((100vw - #{$default_width}) / 4);
            font-size: clamp(1rem, 1.11vw, 1.6rem);
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            transform: rotate(-90deg) translateX(-50%);
            transform-origin: 0% 50%;

            @include mixin.respond(0, 1500) {
                left: 2rem;
            }

            > span {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: clamp(4rem, 6.68vw, 4.8rem);

                &:before {
                    position: relative;
                    content: "";
                    width: clamp(6rem, 7.64vw, 11rem);
                    height: 0.01rem;
                    margin-right: clamp(1rem, 1.67vw, 2.4rem);
                    background-color: #fff;
                }
            }
        }
    }

    &__logo {
        position: relative;
        left: clamp(1rem, 13.88vw, 2rem);
        width: clamp(10rem, 13.75vw, 19.8rem);
        margin-bottom: clamp(1rem, 2.36vw, 3.4rem);
        transition: all 0.3s ease-in-out;
    }

    &__title {
        position: relative;
        left: clamp(1rem, 13.88vw, 2rem);
        display: inline-block;
        width: max-content;
        padding-left: clamp(0.38rem, 0.56vw, 0.8rem);
        font-weight: 700;
        font-size: clamp(1.8rem, 2.638vw, 3.8rem);
        line-height: clamp(3.32rem, 4.85vw, 7rem);
        letter-spacing: clamp(0.47rem, 0.69vw, 1rem);

        &:after {
            z-index: 4;
            content: "";
            position: absolute;
            bottom: clamp(0.80rem, 1.18vw, 1.7rem);
            left: 0;
            width: 0;
            height: clamp(0.38rem, 0.56vw, 0.8rem);
            background: $color_2;
            animation: underline 0.5s ease-out 1.5s forwards;
        }

        .typing_line {
            z-index: 5;
            position: relative;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            border-right: 0.1em solid transparent;
            width: 0;
            animation: typing 0.5s steps(30, end) forwards;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.5s;
            }

            &:nth-child(3) {
                animation-delay: 1s;
            }
        }

        .dot {
            position: relative;
            font-size: clamp(2.37rem, 3.47vw, 5rem);
            color: $color_3;
            opacity: 0;
            animation: show-dot 0.25s ease-out 2.1s forwards;
        }
    }

    &__main {
        min-height: 200vh;
    }
}

.header_sticky {
    .site__logo {
        opacity: 0;
    }
}

.show_menu {
    .site__logo {
        opacity: 0;
    }
}

@keyframes underline {
  to { width: calc(100% - clamp(1.8rem, 2.36vw, 3.4rem)); }
}

@keyframes typing {
  from { width: 0; }
  to   { width: 100%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

@keyframes show-dot {
  to { opacity: 1; }
}