@use '../defaults' as *;

@keyframes tada {
	0% {transform: scale(1);}
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

@mixin tada(
	$count: $animate_count,
	$duration: $animate_duration,
	$delay: $animate_delay,
	$function: $animate_function,
	$fill: $animate_fill,
	$visibility: $animate_visibility
) {
	animation-name: tada;
	animation-iteration-count: $count;
	animation-duration: $duration;
	animation-delay: $delay;
	animation-timing-function: $function;
	animation-fill-mode: $fill;
	visibility: $visibility;
}
