@use '../defaults' as def;

@keyframes bounceOutLeft {
    0% {
      transform: translateX(0);
    }
   20% {
     opacity: 1;
     transform: translateX(20px);
    }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@mixin bounceOutLeft(
  $count: def.$animate_count,
  $duration: def.$animate_duration,
  $delay: def.$animate_delay,
  $function: def.$animate_function,
  $fill: def.$animate_fill,
  $visibility: def.$animate_visibility
) {
  @include def.baseAnimation(
    bounceOutLeft,
    $count,
    $duration,
    $delay,
    $function,
    $fill,
    $visibility
  );
}
